# Basic Site Settings
locale                   : "en-US"
site_theme               : "slate" # The available themes options are "default", "air", "sunrise", "mint", "dirt" and "contrast"
title                    : "Matt Allan / Under the Hood: Adventures in Security Research"
title_separator          : "-"
name                     : &name "Matt Allan"
description              : &description "I'm a malware analyst who enjoys wants to share my adventures with the world!"   # Update this with a general description of your site, this is the default if not overridden by a page
url                      : https://mja-reversing.github.io/Under-the-Hood-Adventures-in-Security-Research/ # The base hostname & protocol for your site e.g. "https://[your GitHub username].github.io",
                                                           # or if you already have some other page hosted on Github then use "https://[your GitHub username].github.io/[Your Repo Name]"

# Site Author - The following control what appear as part of the author content on the side bar.
#               If a field is blank the icon and link will not appear, otherwise it will be shown.
#               Additional customization can be done by editing /_includes/author-profile.html
author:
  # Biographic information
  avatar           : "profile.png"
  name             : "Your Sidebar Name"
  pronouns         : # example: "she/her"  
  bio              : "Short biography for the left-hand sidebar"
  location         : "Earth"
  employer         : "Red Brick University"
  uri              : # URL
  email            : "none@example.org" 
