# Site settings
theme: jekyll-theme-slate

title: Under the Hood: Adventures in Security Research

description: > # this means to ignore newlines until "baseurl:"
  Read about my adventures as I try to navigate the low level world of the interwebs.

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-sitemap

# Exclude from processing.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
